<!doctype html>
<html lang="pt">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light">
        <link href="./View/css/style.css" rel="stylesheet" type="text/css">
        <link href="./View/css/pico.min.css" rel="stylesheet" type="text/css">
        <title>Pensamentos - Uma Ferramenta Aberta de TCC</title>
        <link rel="icon" type="image/x-icon" href="View/assets/img/favicon.ico">

    </head>

    <body class="container">
        <nav class="container">
            <ul class="container">
                <li>
                    <strong>Pensamentos</strong>
                </li>
                <li>
                    <a href='/thoughts/logout'> Sair </a> 
                </li> 
            </ul>
        </nav>
        <main class="">

            <section class="">

             <div class="overflow-auto">     
                <table>
                
                        <tr>
                            <th>Causa</th>
                            <th>Emoções</th>
                            <th>Intensidade</th>
                            <th>Pensamento 1</th>
                            <th>Pensamento 2</th>
                            <th>Pensamento 3</th>
                            <th>Data do Registro</th>               
                        </tr>
                    
                        {% for row in result %}

                        <tr>
                            <td>{{ row.cause }}</td>
                            <td>{{ row.emotion }}</td>
                            <td>{{ row.intensity }}</td>
                            <td>{{ row.thought1 }}</td>
                            <td>{{ row.thought2 }}</td>
                            <td>{{ row.thought3 }}</td>
                            <td>{{ row.created_at | date ('d/m/Y H:i')}}</td>
                        </tr>
                        {% endfor %}

                </table>
            </div>   

                        
                            <div class="container centralize">
                                <a href="/thoughts/my_thoughts" class>
                                    <button class="">Adicionar seus pensamentos</button>
                                </a>
                            </div>
                   

            </section>

        </main>
    </body>
</html>
